[2017-02-06 22:41] tunnckoCore opened #1 "Setup tests"
Don't know, but maybe I'll try `jest` for first time here. I'm just not frontend guy and that's one of the few front end libs that i have.

[2017-02-08 14:45] tunnckoCore opened #2 "Setup demo site using it"

[2017-02-19 10:25] violacase commented on #2
+1

[2017-02-19 18:28] tunnckoCore commented on #2
I promise it will be in the coming 2-3 days! :) I'm just messing with one of my new projects which would be monorepo - `mich / chika` - build brilliant ui apps, fast & easy, again for 1-2kb.

[2017-02-21 14:25] idchlife opened #3 "TypeScript support?"
I'm trying to use it with typescript but I'm kinda new to it. What exactly does default export of gibbon looks like? Is it function?

Not clear what to do with such included module in bundle:

![image](https://cloud.githubusercontent.com/assets/4563032/23171590/ee4216ce-f863-11e6-8322-76fc503becc8.png)

As I can tell, it's just declaring var gibon inside module and not exporting it anywhere, so mo

[2017-02-21 17:03] idchlife opened #4 "Problem when going back in browser."
It doesn't handle route change when going back. Nothing fires.

[2017-02-21 17:54] tunnckoCore commented on #3
@idchlife :+1: need to update the build flow, cuz currently its main export is IIFE (as seen in the sourcemap url)

I'll provide UMD, CJS and ES builds, so users can use what they want.

As about TS, don't know, i'm no using it and don't understand such things. But kinda support and like @sindresorhus's position https://github.com/sindresorhus/ama/issues/439. So it is more likely i don't add TS fi

[2017-02-21 17:58] tunnckoCore commented on #3
Btw UMD bundle is currently available, but for browsers.

What you use? Kinda feel Browserify? That's a bug currently for Browserify users, because they resolves the IIFE, not the UMD/ES.

[2017-02-21 17:59] tunnckoCore commented on #4
Can you give an example code? It may be problem based on #3 that you use browserify and it resolves the IIFE build. Is other things work?

[2017-02-21 18:01] tunnckoCore commented on #4
Or it is because [that line](https://github.com/tunnckoCore/gibon/blob/master/src/index.js#L34), instead of calling `handle()` we should call `window.onpopstate()` manually. I was not sure for that, so it is completely possible.

[2017-02-21 18:02] idchlife commented on #3
webpack with ts-loader. I'll think about adding definition to Definetely Typed in spare time

[2017-02-21 18:03] idchlife commented on #4
Oh, I'll look into this further. Will write example.

[2017-02-21 18:05] tunnckoCore commented on #3
hm.. that's strange than why it resolves the IIFE build, maybe webpack does not understand `pkg.module` field? huh

Great to hear and thanks! Ping me when you done the PR there, so i can learn something, haha :)

[2017-02-21 21:44] idchlife commented on #3
@tunnckoCore I'm trying to configure webpack so it would use "main" from package.json and not "browser". Somehow it ends up using "browser" script.

What else uses "browser" field in package.json? Browserify? Trying to understand what's going on wrong with my config here...

[2017-02-21 22:15] tunnckoCore commented on #3
Damn. That's sad, but yea one more reason why https://github.com/unpkg/unpkg.com/issues/25 is a problem and why I won't use/set `browser` field any more.

Thanks in any way, I'll update the things this night or tomorrow at least.

[2017-02-22 06:44] idchlife commented on #3
@tunnckoCore if talking only about webpack - version 2 was recently released. And it has richer resolving functionality than in version 1. So now problem is solved, thank you for thinking about this with me!

![image](https://cloud.githubusercontent.com/assets/4563032/23200097/7e0d1d1a-f8e3-11e6-8621-9667e6f457b7.png)

[2017-02-22 06:44] #3 closed

[2017-02-22 07:13] tunnckoCore commented on #3
that is what i was talking about, yea. i was sure it can be fixed outside of gibon

[2017-02-26 21:51] tunnckoCore opened #5 "Catch all route / wildcard / 404 route"

[2017-03-11 18:20] gibatronic opened #6 "require('gibon') returns an empty object when using webpack"
There might be a problem with your UMD bundler, requiring `gibon` using `webpack` results in an empty object:

[code]

Versions involved:

[code]

I made a gist with the steps to reproduce it:
[gist.github.com/gibatronic/b4cc95f723712863a8aa31a796b86a0a](gist.github.com/gibatronic/b4cc95f723712863a8aa31a796b86a0a)

[2017-03-11 18:31] gibatronic commented on #6
If I explicit require `dist/gibon.umd` it works fine:

[code]

So, the issue seems to be `require('gibon')` resolving to `dist/gibon.iife.js`

[2017-03-11 18:36] tunnckoCore commented on #6
Yea. Build flow isn't correct. I'm going to update that now, cuz I'm in great mood 50+ commits for today ;d

[2017-03-11 18:37] gibatronic commented on #6
Interesting, removing `browser` and `module` entries from `package.json` solves the problem... didn't even know `webpack` looked for those fields, since they are not even documented.

[2017-03-11 18:39] tunnckoCore commented on #6
Yea, that's the fact that I know. Browser field is very conflicting - with unpkg.com too, see https://github.com/unpkg/unpkg.com/issues/25, and why i considered to not use `pkg.browser` et all.

[2017-03-11 18:41] tunnckoCore commented on #6
i believe that `module` is supported from v2 to resolve es6 modules correctly, but.. don't know, I'm not webpack, nor browserify user.

[2017-05-04 03:50] tunnckoCore commented on #4
It's because the use only of `history.pushState`, nowhere is use replaceState which is important.

I have already very cool working write of the whole thing. It simplifies the things a lot and building apps on top of it too. I'm going to release v0.4 as last release before v1, which may or may not fix that issue, just don't want to waste time on already resolved things. So probably only #6 will be

[2017-05-04 04:06] #6 closed

[2017-05-04 04:48] tunnckoCore commented on #6
@gibatronic, Can you try v0.4? I believe that is fixed.

[2017-05-04 19:55] gibatronic commented on #6
Not quite there... it works with plain Node `require`.

But if I use `webpack`, it goes after `dist/gibon.es.js` which only works if I have the Babel plug-in to transpile ES6 export...

This looks like a situation that it's just impossible to please everyone.

Your use of the `module` property is correct, I just don't understand why on Earth webpack goes after it. The Node team already said they w

[2017-05-04 22:31] tunnckoCore commented on #6
Yea, absolutely. :D Some ("so awesome and popular") tools are awful.

Don't know what is happening.. I believe Webpack v2 resolves and respects the `module` field, or at least.. it should just resolve the main which is nothing more than regular nodejs commonjs module... damn tooling. :D

[2017-05-05 16:33] gibatronic commented on #6
In [this crowded issue](https://github.com/webpack/webpack/issues/1979) they discuss about it, and they mention this workaround several times: [resolve.mainFields](https://webpack.js.org/configuration/resolve/#resolve-mainfields).

For now, this seems to be the best we can get. We're living a moment of transition, and I'm eager for it to finish.

[2017-05-05 17:43] tunnckoCore commented on #6
Ooh, yea yea, I always forget about that issue and the `resolve.mainFields` ;d

[2019-06-12 01:32] tunnckoCore opened #10 "www: Roadmap"
- Use GatsbyJS
- Use Emotion components + TailwindCSS (the `tailwind.macro`)

[code]

[2019-07-05 08:05] jonathanasquier opened #35 "npm install removes raw-body dependencies from koa-body-parsers triggering error"
This is a situation we have been fighting with for quite some time, and we keep checking out this block from our package-locks which is obviously very hacky

We use node 10.13.0 and npm 6.4.1 with docker in all our apis, and all of them use koa-better-body
We have been unable to explain why sometimes the raw-body dependency is added, and why sometimes it is removed

which triggers `Cannot find mod

[2019-08-11 23:41] tunnckoCore opened #28 "typescript eslint plugin tweaks"
use their "recommended" presets

below are what I want to be different or guaranteed

[code]

[2019-09-18 00:44] #10 closed

[2019-09-18 23:12] mrister opened #36 "Fails docker builds for images that do not have git"
If you use docker and a small image like alpine that has no git and rely on npm then you will not be able to build the image because this module dependency is one obtained via git.

Offending line:
https://github.com/tunnckoCore/koa-better-body/blob/master/package.json#L24

The solution, install it from npm instead of git.

[2019-09-18 23:13] maximedupre opened #37 "Error when POSTing large files"
This error seems to be similar to tunnckoCore/koa-better-body#3. When I try to upload a large video file (622MB), I get this error:

    TypeError: Cannot read property 'fields' of undefined
        at Object.parseBody
        (/api/node_modules/koa-better-body/utils.js:222:33)
        at parseBody.next (<anonymous>)
        at Object.plugin
        (/api/node_modules/koa-better-body/index.js:50:2

[2019-09-18 23:14] tunnckoCore opened #38 "v4 - More granular control over limits and uploading"
- would resolve tunnckoCore/koa-better-body#88
- would resolve tunnckoCore/koa-better-body#67
- would resolve tunnckoCore/koa-better-body#66
- would resolve tunnckoCore/koa-better-body#65
- (probably) Switch to use `busboy` or `multiparty`, because gives more (and more easier) control
- Easier Renaming (not touching the hard disk?)
- new `extendTypes.file(s)`, so for example allow only .txt files

[2019-09-18 23:14] ztrange opened #39 "Desirable to be able to configure the name of ctx.request.body"
Right now, I can do this and access `body`, `files` and `fields`

[code]

But if I want to use the property named `body` to access the content of a json, I'd do the following:
[code]

I'd like to be able to rename the buffer/text property to something else.

[2019-09-18 23:16] QasimQureshi opened #40 "ctx.request.files remains undefined"
I can't access uploaded files - `ctx.request.files` remains undefined, `ctx.request.fields` shows me all form fields (including my <input type=file> field's string value - but no file or contents).

I posted details on Stack-overflow as well: https://stackoverflow.com/questions/45126597/koa-better-body-file-uploading-not-working

[2019-09-18 23:16] vhpoet opened #41 "Can't make the multipart work with koa-router"
I'm on `koa@2.2.0`, `koa-router@7.2.0` and `koa-better-body@3.0.2`.

Trying to disable multipart for all the routes except `/profilepic`.

[code]

[code]

with this code `changeProfilePicture` is never called. It works if I remove the `body()` from the router and use `multipart: true` on `app.use`.

[2019-09-18 23:17] zypeh opened #42 "Anyways to set the file size limit for the `multipart/form-data`?"
I see there is a common problem with [formidable](https://github.com/felixge/node-formidable), just want to know is there a way to deal with file size limitation by the `bytesReceived` from `form.progress` ?

[2019-09-18 23:18] tunnckoCore opened #43 "feat(options): add option for file size limiting (ref #65)"
In `file` event listener add one check that checks `file.size` against `opts.textLimit` or `opts.fileLimit` or `opts.maxFileSize`. Not sure for the name of the option. `1mb` by default?

ref tunnckoCore/opensource#42

[2019-09-18 23:19] robharper opened #44 "Shared Formidable IncomingForm instance fails on concurrent uploads"
**Version:** 3.0.2

**Description:** Providing a custom Formidable `IncomingForm` instance via the `IncomingForm` option on create causes concurrent uploads to put that instance in a bad state. The concurrent uploads usually fail with the following error message. Any further uploads after this failure will not complete until the connection times out.

[code]

My understanding of Formidable is that

[2019-09-18 23:20] tunnckoCore opened #45 "update docs"
- switch example to use https://github.com/tunnckoCore/koa-better-router
- add table of contents

[2019-09-18 23:20] jcalfee opened #46 "Question: How can I keep a multipart form upload in memory (skip the file)?"
I need to parse many requests with images and forward them to another server.  Is there a way to avoid writing each one to a file?  I would rather access some sort of Buffer with the file's data in it.  Here is an example request:

Here is what I have so far:

[code]

I'm receiving the data, but I don't have anywhere to store it.  Is there a way to get the data I collected back into the request?

[2019-09-18 23:21] tunnckoCore opened #47 "Tests and update the `multipart` and `formidable` recipes"
There may need more tests, PRs are always welcome.
### Update formidable recipe
- [ ] test cases for below
- [ ] when `IncomingForm` instance is passed to `options`, you should be able to pass IncomingForm options to that `options`. For example (pseudo-code)

[code]

instead of these two ways of doing it

**first**

[code]

**second (as in recipe and as in formidable README)**

[code]

[2019-09-18 23:22] tunnckoCore opened #48 "Recipes - we always need more."
The are couple of recipes for the moment, but we accept more ideas.
- [ ] parsing xml body (using the `options.extendTypes.custom` and `options.handler`)
- [ ] usage with other middlewares: for example koa-router, koa-route or koa-resource
- [ ] koa@2 way
- [ ] jsonStrict
- [ ] strict and non strict mode and why strict is the default - also need link to IETF
- [ ] extendTypes
- [ ] onerror and the

[2019-10-02 19:33] neezer opened #57 "Bad NPM package published with 3.0.7"
I think the published archive is missing (at least) `index.js`:

[code]

[code]

[2019-10-02 19:33] #57 closed

[2019-10-08 13:35] MichaelCation opened #58 "npm install koa-better-body failing this morning"
When I ran "npm install koa-better-body" on a clean machine this morning it failed with "npm ERR! enoent undefined ls-remote -h -t https://github.com/tunnckoCore/body-parsers.git"

Perhaps "body-parsers.git" should be "koa-body-parsers.git" instead?

[2019-10-12 21:21] tunnckoCore commented on #58
Oh, sorry for the delay. I was offline whole week.

I'll check.

[2019-10-12 21:24] tunnckoCore commented on #58
No, it's correct. https://github.com/tunnckoCore/body-parsers it's an old fork...
The thing is I'm not sure why it was and what is changed between the original and the fork.

[2019-10-12 21:29] tunnckoCore commented on #58
Yea, it seems we can just switch to the original one.

[2019-10-12 22:50] tunnckoCore commented on #58
Oh, I remember why is the fork. The main reason.

https://github.com/koajs/body-parsers/issues/19
https://github.com/koajs/body-parsers/issues/20

So, suggested a PR there https://github.com/koajs/body-parsers/issues/19

[2019-10-12 23:32] tunnckoCore commented on #58
@MichaelCation probably your server where you are installing doesn't have git?

[2019-10-18 11:13] tunnckoCore opened #60 "Licensing Plan"
Basically. A more clear explanation soon.

- LICENSING.md - describe the process & the different licenses, answer questions, and etc.
- LICENSE.md - quadruple licensed
- Parity-7.0.0 OR Prosperity-2.0.0 OR Patron-1.0.0 OR Private License, all by @licensezero
- For contributors, BlueOak Model v1.0.0 (consider allowing Apache-2.0)
- For significant contributions:
  + inclusion in monorepo as CODE OW

[2019-10-18 11:35] tunnckoCore opened #61 "labels"
[code]

[2019-10-18 12:34] tunnckoCore commented on #35
@jonathanasquier is it fixed with later versions?

[2019-10-18 12:37] tunnckoCore commented on #44
Hey @robharper, any response to above question? :)

[2019-10-18 14:44] #61 closed

[2019-10-18 14:45] tunnckoCore commented on #39
Agree. Would be possible in some way in #38 (v4).

[2019-10-18 14:49] tunnckoCore commented on #36
@mrister hey there. Does it work now? I believe it should, since we are not explicitly state "git:username/repo". Which means yarn will use direct url to `.tgz` file from `codeload.github.com`. Not sure for npm.

[2019-10-18 14:58] mrister commented on #36
IDK, sorry I have not used this in a while. I think it should work now.

[2019-10-18 15:02] tunnckoCore commented on #36
Thanks anyway :) We'll wait response on the other similar issue then. :)

[2019-10-18 15:04] tunnckoCore commented on #58
Probably similar to #36. We'll wait response. :)

[2019-10-18 20:52] tunnckoCore opened #63 "super weird bug in docs runner"
For some reason it throws this error, almost always.

[code]

No matter which is the package. Super awful for debugging and always forgetting how we can see the actual error. Debugged it few times but... :D It's nothing related to `create-jest-runner`, there is no problems.

[2019-10-18 22:04] tunnckoCore opened #64 "do not load filesystem cache in rollup runner, if not dist found"
cuz gives us false positives

also, do not load cache if config is changed.

[2019-10-18 22:12] tunnckoCore opened #65 "Next Major: Simplifying the API, docs and the plugins, smaller codebase"
What about that?

[code]

We are just removing the extra step of creating "app" instance and then calling `parse`.
Also removing the `use` so called "smart plugins", we don't need to change anything to that "app" instance.

So now plugins are more simpler and flat, instead of `(app) => (node, result) => {}`

Should be noted that we can't just add `plugins` property to the `parserOptions`, because

[2019-10-18 22:37] tunnckoCore opened #66 "babel plugin for "tunnckocoreInterop" for SANE cjs <-> esm"
Basically as seen here, similar to `add-module-exports` which doesn't helps.

[code]

So, we break neither of the systems.

[code]

[2019-10-19 12:04] tunnckoCore commented on #66
Nope. Will do it as post-step.

[2019-10-19 12:04] #66 closed

[2019-10-19 13:13] tunnckoCore commented on #63
Turns out it was bug it `create-jest-runner`'s one of the onError calls was with wrong signature.

[2019-10-19 13:50] #63 closed

[2019-10-20 14:13] tunnckoCore opened #68 "Support config.plugins to be a function"
So we can pass some things through there and have conditional loading of plugins.

[2019-10-21 11:02] ramya-Senthamaraikannan opened #70 "Cannot find module '@babel/runtime/helpers/interopRequireDefault'"
am trying to install orientjs in my project which in-turn requires parse-function() npm and it throws babel error

[2019-10-21 12:46] louis-bertrand commented on #70
hi,
quick fix: add **"parse-function": "5.2.11"** in your package.json

[2019-10-22 10:09] tunnckoCore commented on #70
Ah! Yea... Sorry, @louis-bertrand, @ramya-Senthamaraikannan @cviejo @Vincentmarrec, @DavertMik!

I'm going to publish now.

[2019-10-22 10:16] tunnckoCore commented on #70
Just published `5.4.0`. Should be working.

[2019-10-22 10:44] tunnckoCore commented on #70
Aaaah

[2019-10-22 10:53] #70 closed

[2019-10-22 10:53] tunnckoCore commented on #70
Okay. Very sorry. Now it should work, finally.

Soon expect v6 written in TypeScript.

[2019-10-22 15:12] #64 closed

[2019-10-23 10:30] tunnckoCore opened #71 "Gather stats information"
Would be cool to gather how much times it is called :D I used pretty always, every single day hundreds of times, probably.

Would be something simple, like local storage at user's home or something like that.

[2019-10-24 03:04] tunnckoCore commented on #65
Final API for v6, defaults to use `@babel/parser` if not `options.parse` given.

[code]

[2019-10-24 07:32] tunnckoCore commented on #58
@MichaelCation is it fixed? Try `v3.1+`, best `3.1.13`

[2019-11-01 17:51] tunnckoCore opened #74 "utils: testCoverage calculation"
This one here

https://github.com/tunnckoCore/opensource/blob/80dcb162df53dfc3eee4f36ca1ccb55603a907a8/%40tunnckocore/utils/src/index.js#L215-L236

The other way to calc is to sum all:

[code]

and then divide it by the `res.length`

Still not sure. But it's probably the same, or I'm sleepy.

[2019-11-01 17:53] tunnckoCore opened #75 "utils: testCoverage() tweaks"
rename the `jestCov` property that we suggest to write to the package's package.json.

Support other runners than jest are possible, probably.

[2019-11-01 17:57] tunnckoCore opened #76 "utils: the `res.workspaceRootPath` is probably the same as `res.cwd`"
so, no need to pollute.

[2019-11-01 18:10] tunnckoCore opened #77 "utils: add `tryExtensions` and `async tryCatch`"
Repeated in couple of Jest Runners.

the `tryExtensions`

[code]

the `tryCatch`

[code]

[2019-11-02 18:05] tunnckoCore opened #78 "eslint-config: actually push the upadtes to no-param-reassign"
always forgetting... ah? Too much tabs and workspaces locally. DANG :D

[2019-11-03 14:13] tunnckoCore opened #79 "web(ghub.now.sh): better 404 when package not exists in the registry"
try https://ghub.now.sh/jh23jk4h2kj3h4k2j3h4

[2019-11-03 21:06] tunnckoCore opened #81 "eslint-config: update/add some rules"
[code]

commonly used CJS will fail:

[code]

[2019-11-05 21:39] tunnckoCore opened #82 "web(ghub.now): bug with the `.replace('.git')` part"
Examples

- https://ghub.now.sh/pacote
- and some of my repos

[2019-11-05 22:10] tunnckoCore opened #83 "Branding"
Some colors for future branding. I had branding orange color on Twitter, but after the new design/mobile change I lost it, I guess. I was copying it from there for years, but anyway.

Today looked around few logo generators and have some ideas and colors.

- ![](https://badgen.net/badge/%20/tck.dev/00AEF0?label) - `#00AEF0` - light blue, from the `app.logopony.com`
- ![](https://badgen.net/badge/%

[2019-11-13 20:19] neezer opened #87 "Published package does not include TS definitions"
`typings` is defined in `package.json`, but the file it points to is not present in the distributed package:

https://unpkg.com/browse/koa-better-body@3.1.13/package.json

[code]

[code]

In https://github.com/DefinitelyTyped/DefinitelyTyped/pull/39451, `@types/koa-better-body` was deprecated (12 days ago), so this missing typings file is making this package unbuildable with TypeScript.

[2019-11-18 06:05] tunnckoCore commented on #87
Doh... problems problems problems. Why are they doing this? Or at least can mention me...

I recently tend to add that field but not yet having a typescript definitions. It's work in progress repo and situation. I'm slowly migration everything here so... it's a lot of work to get everything working correctly and seamlessly.

Thanks for the report.

[2019-11-18 17:29] tunnckoCore commented on #87
@neezer is it okay now?

[2019-11-18 17:29] #87 closed

[2019-11-19 19:18] neezer commented on #87
I would discourage this. There are many tools in the TS ecosystem that switch behavior on the `typings` field, so providing that field without the backing file is much more likely to cause problems than simply omitting the field until you get the definitions in place.

I would track what is in essence a "todo" in a GitHub issue, or README, or anywhere else that is documentation-oriented and not us

[2019-11-19 21:57] tunnckoCore commented on #87
Yup, sure. I'll take that in mind and update.

[2019-11-24 23:43] #79 closed

[2019-11-24 23:43] #82 closed

[2019-11-26 21:22] tunnckoCore opened #95 "parse-commit-message v4: show the commit hash when the error is shown"
thanks for the suggestion by @prxg22. I was thinking about that too.

[2019-12-21 19:01] maximedupre commented on #87
@tunnckoCore Do you plan on providing the type definitions in the near future?

Cheers!

[2019-12-21 21:59] tunnckoCore commented on #87
yea in the near future, after 10th i'm returning from holidays

[2019-12-21 22:13] maximedupre commented on #87
@tunnckoCore Got it! Is there an available type def file somewhere that I can link manually into my project? As I recall, I had no problem before the repo changed place, so my guess is that the file exist, but I can't find it in the old repo. Happy holidays sir!

[2019-12-22 12:22] tunnckoCore commented on #87
Hmmm, no, I dont think... oh, wait I think there is typedef in definitely-typed repo and so a `@types` package. Only the versions doesn't match. Intentionally. I think it 3.0.24 or 25.

[2019-12-31 02:07] maximedupre commented on #87
`npm i --save @types/koa-better-body@3.0.0` :D

[2020-01-13 12:47] DavertMik opened #105 "parse function is broken"
The last release of parse function is broken as it is missing `arrify` package which is in dev dependencies, while it should be in main dependencies.
We had to urgently update our package to add it.

[2020-01-13 15:30] tunnckoCore commented on #105
Thanks for the report. I'll look into it.

It's in devDeps, because we bundle/resolve external deps into the final build. But obviously something gone wrong.

[2020-01-13 22:29] DavertMik commented on #105
Thanks!
We included `arrify` and made a new version.

[2020-01-15 03:19] tunnckoCore opened #106 "utils doesn't support pkg.workspaces to be an object"
https://github.com/tunnckoCore/opensource/blob/master/%40tunnckocore/utils/src/index.js#L127

e.g.

[code]

like we use it https://github.com/tunnckoCore/opensource/blob/master/package.json#L6-L18

[2020-01-15 12:11] #106 closed

[2020-01-15 12:38] tunnckoCore commented on #105
Might be fixed in `5.5.1`

[2020-01-15 12:38] #105 closed

[2020-01-19 18:53] tunnckoCore opened #113 "Simplify my ESLint config"
Seems like some plugins or configs are doing very heavy stuff and as a whole it's damn ridiculously slow.

When using just the `eslint-config-airbnb` it's noticeable faster.

[2020-01-21 00:44] tunnckoCore commented on #58
Closing. Please try newer versions or report again with new issue here.

[2020-01-21 00:44] #58 closed

[2020-01-21 00:46] tunnckoCore commented on #75
it's `cov` now for long time.

It's generally possible to be use in other monorepos with other test runners. We just need the `index.html` file to scrape it with `cheerio`.

In future we will depend on a JSON summary coverage report.

[2020-01-24 05:05] tunnckoCore opened #114 "docks: support multiple files + more tweaks"
First, support to collect docs from multiple files. Important to note is that if there is only one file, headings shouldn't be that nested. For example if there is multiple files then the h3 heading will be the filename, h4 the exposed things. If thre is only `src/index.js` then h3 should not be the filename but the exposed things.

Second, do not print `**Params**` if there is no params.

[2020-01-24 12:27] tunnckoCore commented on #114
follow the comments https://github.com/tunnckoCore/opensource/commit/d05535355939548b7a14fe62036e83bdbbae5719#commitcomment-36948605

[2020-01-24 18:16] #114 closed

[2020-01-24 18:46] tunnckoCore commented on #95
Not sure if it would be possible. The most near thing is to just output the input of `commits` param which can be a variety of things - string, Array<string>, Commit, Array<Commit> and etc. Which won't be that helpful and easy to output "always".

[2020-02-05 23:28] tunnckoCore opened #115 "docks: skip creating empty docs files if there is no doc for them"
Currently the runner creates an empty files in `docs/` when there is no `@public` in the JSDoc comment (e.g. or no comments at all in the `.js` file).

[2020-02-19 13:25] Coada opened #116 "koa-better-body example"
Hi,

I ended up finding `koa-better-body` as it allows setting my own Formidable object, which `koa-body` does not seem to allow. My project also uses `@koa/router`.

The `koa-better-body` example with the router however does not seem to work? I am getting:

[code]

[2020-02-25 06:53] tunnckoCore commented on #116
It's because it most probably shows that exacmple for the Koa prior v2 when Koa became a Class.

[code]

[2020-02-25 06:58] #116 closed

[2020-02-25 07:42] tunnckoCore commented on #116
`@koa/router` is fork of the previously most used `koa-router`.

Both `koa` v2 and `@koa/router` export default as class. So the example would be

[code]

[2020-02-28 23:25] tunnckoCore opened #121 "memoize-fs using `cacache`"
[code]

[2020-03-02 13:15] tunnckoCore opened #123 "eslint-config: missing babel-eslint"
add

[code]

[2020-03-14 21:17] tunnckoCore opened #126 "sasa"
#### Support plan

- _which support plan is this issue covered by?_ (e.g. Community, Sponsor, or
  Enterprise):
- _is this issue currently blocking your project?_ (yes/no):
- _is this issue affecting a production system?_ (yes/no):

#### Context

- _node version_:
- _module version_:
- _environment_ (e.g. node, browser, native):
- _used with_ (i.e. popular names of modules):
- _any other relevant

[2020-03-14 21:18] tunnckoCore commented on #126
Okay, I like that one ;]

[2020-03-14 21:18] #126 closed

[2020-03-16 05:33] tunnckoCore opened #129 "add support for passing array of names"
Which will behave like that

[code]
instead of above we can hide it to look like that

[code]

[2020-03-27 15:29] acuper opened #132 "parse-function package 5.6.6 has no dist"
package.json contains  "main": "dist/cjs/index.js",
but there is no dist folder in npm package

[2020-03-27 17:02] tunnckoCore commented on #132
Yup, realized that and published a patch a bit after that release.

Upgrade. There's `v5.6.7`.

_it may happen from time to time, still working on monorepo automation, sorry._

[2020-03-27 17:02] #132 closed

[2020-03-27 23:33] jdmarshall opened #133 "body is not a function"
#### Support plan

- _which support plan is this issue covered by?_ (e.g. Community, Sponsor, or
  Enterprise):
- _is this issue currently blocking your project?_ (yes/no):
- _is this issue affecting a production system?_ (yes/no):

#### Context

Node@10.19.0 or Node@8.9.4
koa-better-body@3.3.7

#### What are you trying to achieve or the steps to reproduce?

[code]

#### What was the result you go

[2020-03-28 00:50] tunnckoCore commented on #133
Yea, sorry about that. I'll fix it in a bit.

For now try `.default`.

[code]

[2020-03-28 00:53] #133 closed

[2020-03-28 01:29] tunnckoCore commented on #133
Might be fixed in the coming 3.3.9 version.

[2020-04-03 16:57] FranciscoG opened #135 "parse-function does not support es6 class constructors"
#### Support plan

- _which support plan is this issue covered by?_ (e.g. Community, Sponsor, or
  Enterprise): **Community**
- _is this issue currently blocking your project?_ (yes/no): **yes**
- _is this issue affecting a production system?_ (yes/no): **no**

#### Context

- _node version_: **v13.5.0**
- _module version_: **^5.6.10**
- _environment_ (e.g. node, browser, native): **node**
- _used

[2020-04-03 17:32] FranciscoG commented on #135
ok so i was able to create a plugin that handles this just in case anyone needs this right away.

[code]

and now my results look like this
[code]

[2020-04-03 20:53] tunnckoCore commented on #135
Great report and thanks for the plugin.

I guess, it's almost expected that it doesn't return what you expect. The classes are not exactly a function. If you pass the class constructor directly it would probably just fine, like so

[code]

Also I think that `parse(MyClass)` isn't immediately explicit too, which is almost always the better thing.

[2020-04-03 20:55] tunnckoCore commented on #135
We can also import the rest of the plugins manually and pass `nodeConstructor` to them.

[2020-04-05 01:37] tunnckoCore opened #136 "sasas"
sasas

[2020-04-05 03:05] tunnckoCore opened #137 "sasas"
fgdffghfghfgh

[2020-04-06 15:42] FranciscoG commented on #135
I forgot to mention in my original post that I had also tried `const result = app.parse(MyClass.prototype.constructor)` and it gave me the same results as `const result = app.parse(MyClass)`

I really do appreciate the extensibility the plugin system adds so thank you for that! I've got it working for my needs right now.

This is what I'm using.  I've added handling for parameters that have defaul

[2020-04-06 18:42] tunnckoCore commented on #135
@FranciscoG awesome! :heart_eyes_cat:

[2020-05-12 14:23] jonathanasquier commented on #35
3.3.9 fixes it, i wish it was based on a proper release of koa-body-parsers rather than patch-1 though.
Thank you!

[2020-05-12 14:23] #35 closed

[2020-05-12 15:28] tunnckoCore commented on #35
@jonathanasquier true. I don't get the time to move it to its regular release, a lot has changed since this patch...

[2020-05-27 19:47] cdaringe opened #147 "parse-commit-message missing build contents in distribution"
#### Support plan

- _which support plan is this issue covered by?_ (e.g. Community, Sponsor, or
  Enterprise): Community
- _is this issue currently blocking your project?_ (yes/no): yes
- _is this issue affecting a production system?_ (yes/no): no

#### Context

- _node version_: 13
- _module version_: 4.x (all canary versions)
- _environment_ (e.g. node, browser, native): node
- _used with_ (i.e

[2020-05-27 20:51] tunnckoCore commented on #147
Aaaah, damn. Sorry about that...

I'm not sure it's "all canary versions" as you stated. I remember there was some working ones.

[2020-05-27 21:11] tunnckoCore commented on #60
Reconsidering.

[2020-06-01 21:49] jdmarshall commented on #36
This problem still exists with 3.3.9.

[2020-07-19 13:03] tunnckoCore opened #149 "babel-preset-optimise additions"
- @babel/plugin-syntax-import-meta (always included, even when not `options.typescript` enabled)
- @babel/plugin-transform-flow-strip-types (if `options.typescript` disabled)
- babel-plugin-transform-replace-expressions (thru `options.defines`)
- babel-plugin-macros, cuz why not

[2020-07-19 16:46] tunnckoCore commented on #149
`rdj` / `esmc`

- `-b / --bundle` to use rollup + plugin-babel, otherwise just use babel; it doesn't bundle external deps

[2020-07-23 17:43] stevebaxter opened #150 "koa-better-body type are broken"
#### Support plan

- _which support plan is this issue covered by?_ (e.g. Community, Sponsor, or
  Enterprise):
Community
- _is this issue currently blocking your project?_ (no):
- _is this issue affecting a production system?_ (no):

#### Context

- _node version_: 12.16.3
- _module version_: koa-better-body 3.3.9
- _environment_ (e.g. node, browser, native): node
- _used with_ (i.e. popular name

[2020-07-23 19:44] tunnckoCore commented on #150
Hi there. I think I received such issue previously. I think there was a PR there to revert back to the old version. Can't follow now, probably in the coming days.

The v3.2.x is nothing new. You can use the 3.1.x or 3.0.x types.

[2020-07-24 07:51] stevebaxter commented on #150
There are 3.0 types but they don't seem to be complete. I ended up using a different solution, thought I would let you know though!

[2020-07-28 13:47] tunnckoCore commented on #150
Yea, thanks, I should fix that.

[2020-08-13 18:39] macsj200 commented on #150
I'm also running into this issue. I was using `3.0.4` and the types did not seem to be included. I also tried using `3.3.9` and `3.1.15`.

@stevebaxter what was the different solution you found?

[2020-08-14 09:04] tunnckoCore commented on #150
Just continue using them? Nothing has changed in the versions from last year, year-and-a-half.

[2020-08-14 09:55] stevebaxter commented on #150
@macsj200 - I needed the raw body, I ended up unpacking it myself with raw-body, e.g.:

[code]

[2020-08-14 14:42] macsj200 commented on #150
@tunnckoCore when you say "continue using them" what do you mean? Like I said, the types did not seem to be included in `3.0.4`.

[2020-08-15 00:20] tunnckoCore commented on #150
Ah sorry, misread it.

[2020-08-16 20:49] macsj200 commented on #150
No worries, let me know if there's a solution you can think of or if you think I'm just doing something wrong.

Currently I'm thinking I will just have to shoehorn some custom types in the app code and use `as` typecasts to get around these issues, but obviously it's much cleaner to use the library-supplied types where possible.

[2020-10-24 21:09] Neaox opened #152 "parse-function fails for async class method containing a nested arrow function"
#### Support plan

- _which support plan is this issue covered by?_ (e.g. Community, Sponsor, or
  Enterprise): Community
- _is this issue currently blocking your project?_ (yes/no): No
- _is this issue affecting a production system?_ (yes/no): No

#### Context

- _node version_:  v12.19.0
- _module version_: 5.6.10
- _environment_ (e.g. node, browser, native): node
- _used with_ (i.e. popular nam

[2020-11-02 06:18] tunnckoCore commented on #152
I don't think ()=> this way is valid anyway. Or at least isn't used that much. It should be declaration or not arrow fn.

[2020-11-02 06:39] Neaox commented on #152
That was just a stripped back example to reproduce the issue.

Using an arrow function as a callback within the class method is a more likely example.

[2020-11-02 07:25] Neaox commented on #152
My actual use case:

[code]

[2020-11-26 22:04] tunnckoCore commented on #152
Ahh, yep. Accepted.

The problem is [here](https://github.com/tunnckoCore/opensource/blob/master/%40packages/parse-function/src/index.js#L103-L104)

[2021-03-29 17:37] estebanpanelli opened #157 "npm install parse-function fails"
When trying to install this package npm fails with following error

[code]
### Log file contents

[code]

Already tried to clean npm cache.

#### Context

- _node version_: 12.18.0
- _module version_: latest
- _environment_: Ubuntu Desktop

[2021-06-11 22:21] ChocolateLoverRaj opened #164 "parse-commit-message: Type should be exact match"
#### Support plan

- _which support plan is this issue covered by?_ (e.g. Community, Sponsor, or
  Enterprise): Community
- _is this issue currently blocking your project?_ (yes/no): Yes
- _is this issue affecting a production system?_ (yes/no): No

#### Context

- _node version_: 14.16.0
- _module version_: 3.2.3
- _environment_ (e.g. node, browser, native): node
- _used with_ (i.e. popular names

[2021-08-03 17:53] tunnckoCore commented on #157
That isn't a problem from the package.

[2021-08-03 17:53] #157 closed

[2021-08-03 18:15] tunnckoCore commented on #164
Hey, sorry for the late response.

It's not strictly a commit validation library. I built a whole suite around all that and even GitHub (Probot) Bots back then, completely freeing me of Semantic Release. That was the whole purpose - small separate components, following the Conventional Commits spec. Because we had problems with SR.

What can help you with `Feature` is adding `options.caseSensitive

[2022-06-09 09:59] tunnckoCore opened #194 "to-file-path: next major (no deps, pure esm)"
[code]

[2022-06-20 20:41] tunnckoCore opened #195 "util: moving repos in"
[code]

[2022-06-20 20:42] tunnckoCore commented on #60
Some notes:

### Copyleft

- Software you develop, (re)distribute, operate or analyze, based on this software without any modifications:
  + must be released under the MIT or Apache-2.0 licenses (meaning, proprietary usage in any shape or form is not allowed)
  + make available under THIS license, OR
- Any modifications, derivative works, changes, deletions or additions, to this software:
  + make

[2022-06-29 02:08] tunnckoCore opened #196 "glob-cache: update cache file when `changed`, automatically"
Seems like currently, it detects that the file has changed, but doesn't update the cache to the new state.

It's easy like

[code]

on the `if ctx.changed`, and after the call of `hooks.changed`.

[2022-06-30 19:45] tunnckoCore commented on #196
Use `cacache.verify` after the loop, and `cacache.rm.content` old content on `changed`.

Also add `done/finish` hook.

[2022-07-02 09:43] tunnckoCore opened #202 "yaro: many bugs"
- fix printing of `aliases` in the help, when there are no aliases
- when multiple flags (e.g. `-f, --force` ) without default (or if the default is boolean), it doesn't match it (if you pass `-f`, opts.f is true, but not `--force` - it is `false`)
- when printing output for specific command, it doesn't show the command's input:
  + if you have `.command('filter <...patterns>', 'descr')` when you

[2022-07-12 23:39] tunnckoCore commented on #202
- when two conflicting commands -> seamlessly use the aliases to define the commands, if aliases exist, otherwise throw/or same behavior like currently

[2022-07-12 23:50] tunnckoCore commented on #202
- check for conflicting aliases...

[code]

Prints `foo!`, instead of `create!`. That's atleast noticeable and logical, the latter commands override the previous.

[2022-07-15 20:32] tunnckoCore commented on #202
resolved in https://github.com/tunnckoCore/opensource/commit/62d9945f77afea4dfbde858c84e14ec115d23251

[2022-07-15 20:35] tunnckoCore commented on #194
a bit different, still using `arr-map` and `is-arguments`

done in https://github.com/tunnckoCore/opensource/commit/693d4c48d54ff3d09f448d2195d4cf5d852360d9

[2022-07-15 20:35] #194 closed

[2022-07-19 10:30] tunnckoCore opened #210 "flags/options parser in 100 lines"
On par speed with `mri`, while `nopt` (npm's) is way too speedy for us, `mri`, and `minimist`. Yargs-parser is the slowest.

- 100 lines of code
- no usage or help output
- no positional arguments (thus `--foo=bar` and `--foo bar` is the same),
- support for `-` and `--` enabled by default
- close to POSIX, no weird stuff
- no command parsing or definitions
- no options or actions definitions
- no

[2022-07-19 15:35] tunnckoCore opened #211 "yaro v5 - a rewrite: functional, fast & small"
based on #210

- functional
- small & fast
- 200 lines
- plugins for defaults, required, coercing (type casting), and aliases
- `yaro-parser` - just the yaro function
- `yaro-plugins` - just the plugins and the `pipeline` util
- `yaro` - the parser and the plugins
- `yaro-help` - for usage/help output (should use `yaro-command` or similar declarative api)

[code]

usage (with plugins)

[code]

or

[2022-07-21 10:16] #211 closed

[2022-07-21 10:16] #210 closed

[2022-07-24 11:37] tunnckoCore opened #217 "yaro-parser v5/6"
switch the current `yaro-parser` (from the canary) to the rewritten one haha. It's faster it's strict, predictability, correctness, basic features.

i call that v6, but cuz I didn't published v5 yet.. it can get in.

[code]

Successfully and correctly parses the following, while most of the other parser are slow, bloated, huge, or incorrect.

[code]

Notice the ` -a='-b 123' -u '-d12' -l '"-v13"'

[2022-07-24 12:30] #217 closed

[2022-09-22 01:10] jdmarshall opened #223 "You are still relying on a git url for a body-parsers patch, which trips up npm 6+"
#### Support plan

- _which support plan is this issue covered by?_ (e.g. Community, Sponsor, or
  Enterprise):
- _is this issue currently blocking your project?_ (yes/no):
- _is this issue affecting a production system?_ (yes/no):

#### Context

Node 14
koa-better-body-parsers@3.3.9

#### What are you trying to achieve or the steps to reproduce?

I'm trying to use 'npm ci' and it refuses to insta